@model onlineshop.Models.LoginVM

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="/css/Login.css"/>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-12 col-md-6 col-lg-4">
    <div class="card shadow ">
        <div class="card-body backcolor">
            <h2 class="card-title text-center mb-4" id="loginheading">Login</h2>

            <form asp-action="Login" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Username -->
                <div class="mb-3">
                    <input asp-for="Username" class="form-control" id="placeholderCol" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="mb-3">
                        <input type="password" asp-for="Password" class="form-control" id="placeholderCol" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <!-- Remember Me -->
                <div class="form-check mb-3">
                    <input class="form-check-input me-2" asp-for="RememberMe" />
                    <label class="form-check-label" asp-for="RememberMe"> Remember Me</label>
                </div>

                <!-- Login Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
