@model onlineshop.Models.Update_ProductVM

@{
    ViewData["Title"] = "Update";
    Layout = "_AdminLayout";

}

<h1>Update</h1>

<hr />

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Discount" class="control-label"></label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ImageUrl" class="control-label"> Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" multiple style="color:beige;background-color:darkgrey" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="col-6">
        <label asp-for="T_Category_ID" class="control-label">Category</label>
        <select asp-for="T_Category_ID" class="form-control" asp-items="ViewBag.Categories"></select>
        <span asp-validation-for="T_Category_ID" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <div class="form-check">
            <label class="form-check-label" asp-for="IsAvailable"></label>
            <input type="checkbox" class="form-check-input" asp-for="IsAvailable" /> Available
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" asp-for="IsDiscountActive" /> DiscountAvailable
            </label>
        </div>
    </div>

    <div class="form-group mt-2">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

