
@{
    ViewData["Title"] = "OnlinePayment";
}

<h1>OnlinePayment</h1>

<table class="table table-stripped table-bordered table-dark">

    <tr>

        <td>Payment Result</td>
        <td>Payment Code</td>

    </tr>

    <tr>
        <td>Successful</td>
        <td>@ViewBag.code</td>
    </tr>

</table>
